.container-drop{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.block-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 5px;
    height: 48px;
    z-index: 1;
}
.drop-block-title:hover {
    cursor: pointer;   
}
.drop-title {
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin: 0px;
    margin-left: 20px;
}
.drop-img {
    margin-right: 20px;
    transform: rotate(0deg);
    transition: 0.2s ease-in-out;
}
.rotated {
	transform: rotate(180deg);
	transition: 0.2s ease-in-out;
}
/* media query mobil */
@media only screen and (min-width: 320px) and (max-width: 600px){ 
    .block-title{
        height: 30px;
    }
    .drop-title{
        font-size: 13px;
    }
    .rotated{
        width: 15px;
    }
    .drop-img{
        width: 15px;
    }
}
/* media query tablette */
@media only screen and (min-width: 600px) and (max-width: 1024px){ 
    .out .drop-text{
        padding-top: 12px;
    }
}