.drop-block {
    margin-bottom: 40px;
}
.drop-block-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 5px;
    height: 48px;
    z-index: 1;
}
.drop-block-title:hover {
    cursor: pointer;   
}
.drop-title {
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin: 0px;
    margin-left: 20px;
}
.drop-img {
    margin-right: 20px;
    transform: rotate(0deg);
    transition: 0.4s ease-in-out;
}
.rotated {
	transform: rotate(180deg);
	transition: 0.4s ease-in-out;
}
.drop-block-text{
    background-color: var(--primary-backgroung-color);
    border-radius: 10px;
    color:  var(--primary-color);
    transition: 0.4s ;
}
.out .drop-block-text{
    height: 170px;
}
.drop-text{
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition: 0.4s ;
    padding-left: 20px;
    padding-right: 20px;
    visibility: hidden
}
.out .drop-text{
    padding-top: 35px;
    visibility: inherit;
}
/* media query mobil */
@media only screen and (min-width: 320px) and (max-width: 600px){ 
    .drop-block-title{
        height: 30px;
    }
    .drop-title{
        font-size: 13px;
    }
    .rotated{
        width: 15px;
    }
    .drop-img{
        width: 15px;
    }
    .out .drop-block-text{
        height: 180px;
    }
    .drop-text{
        font-size: 12px;
    }
    .out .drop-text{
        padding-top: 14px;
    }
}
/* media query tablette */
@media only screen and (min-width: 600px) and (max-width: 1024px){ 
    .out .drop-text{
        padding-top: 12px;
    }
}