.fade{
    opacity: 0;
    height: 0;
    transition:height 0.4s, opacity 0.4s;
}
.out{
    background-color: var(--primary-backgroung-color);
    border-radius: 5px;
}
.fade .drop-text{
    height: 0;
    opacity: 0;
}
.drop-text{
    color: var(--primary-color);
    padding-left: 20px;
    padding-right: 20px;
}
.out .drop-text{
    height: initial;
    opacity: 1;

}
/* media query mobil */
@media only screen and (min-width: 320px) and (max-width: 600px){ 
    .drop-text{
        font-size: 12px;
    }
}