.about-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block-about-info{
    width: 90%;
    margin-top: 20px;
}
/* media query mobil */
@media only screen and (min-width: 320px) and (max-width: 600px){ 
    .block-about-info{
        width: 100%;
    }
}