.fiche-block-logement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.fiche-block-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}