.container-fiche{
  margin-left: 20px;
  margin-right: 20px;
}
.container-title-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fiche-block-content{
    margin-top: 18px;
}
.fiche-block-drop {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.fiche-block-drop > * { 
  max-width: 48%; width: 100%; 
}
.equipements{
  list-style-type: none;
}
/* media query mobil */
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .container-title-name{
        display: block;
    }
    .fiche-block-content{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .fiche-block-drop{
      display: block;
    }
    .fiche-block-drop > * { 
      max-width: 100%;  
    }
    
}
