.fiche-block-logement{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-tag{
    background-color: #FF6060;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 25px;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 16px;
}