.block-home{
    margin-bottom: 20px;    
    margin-left: 20px;
    margin-right: 20px;

}
.block-section-card {
    background-color: var(--primary-backgroung-color);
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    padding-bottom: 20px;
}
.link-block{
    width: 340px;
    position: relative;
    margin-top: 20px;
}
/* media query mobil */
@media only screen and (min-width: 320px) and (max-width: 600px){ 
    .block-section-card{
        display: contents;
    }
}
/* media query tablette */
@media only screen and (min-width: 600px) and (max-width: 1024px){
    .link-block{
        width: 260px;
    }
    .block-section-card{
        justify-content: space-evenly;
    }
}