.block-card{
    width: 100%;
    height: 220px;
    display: flex;
    overflow: hidden;
    border-radius: 25px;

}
.img-card{
    width: 100%;
    object-fit: cover;

}
.card-txt{
    width: 200px;
    position: absolute;
    left: 8%;
    font-size: 18px;
    color: #f6f6f6;
    z-index: 2;
    bottom: -4px;
}
