.block-card{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 35px 0 35px 0;
    display: flex;
    justify-content: center;
}
.img-card{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}
.card-txt{
    width: 300px;
    position: absolute;
    left: 26%;
    bottom: 25px;
    font-size: 18px;
    font-weight: 500;
    color: #f6f6f6;
    z-index: 2;
    bottom: 27px;
}