.nav-header{
    margin-top: 40px;
}
.nav-header :hover{
    border-bottom: 2px solid var(--primary-color);
}

.navbar{
    height: 26px;
    color: var(--primary-color);
    font-size: 24px;
    margin-left: 100px;
    text-decoration: none;
}
