.navbar{
    height: 26px;
    color: var(--primary-color);
    font-size: 24px;
    margin-left: 30px;
    text-decoration: none;
    border-bottom: 2px solid red;
}
.link1{
    border-bottom: none;
}
/* media query mobil */
@media only screen and (min-width: 320px) and (max-width: 600px){ 
    .navbar{
        font-size: 12px;
        margin-left: 12px;
    }
}