.box-footer{
	height: 200px;
	background-color: #000000;
    text-align: center;
    margin-top: 40px;
}
.imgfooter{
    width: 145px;
    margin-top: 47px;
}
.txtfooter{
    font-size: 24px;
    color: var(--texte-color);
}
/* media query mobil */
@media only screen and (min-width: 320px) and (max-width: 600px){ 
    .box-footer{
        height: 130px;
    }
    .imgfooter{
        margin-top: 35px;
        width: 80px;
    }
    .txtfooter{
        font-size: 12px;
    }
}