.block-error{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.error-img{
    width: 288px;
}
.error-text{
    font-size: 30px;
    color: #FF6060;
    margin-top: 50px;
}
.error-nav{
    color: #FF6060;
    text-decoration: none;
    font-size: 18px;
    margin-top: 15px;
}
.error-nav:hover{
    border-bottom: 2px solid #ff6060;
}
/* media query mobil */
@media only screen and (min-width: 320px) and (max-width: 600px){ 
    .error-img{
        width: 175px;
    }
    .error-text{
        font-size: 18px;
    }
    .error-nav{
        font-size: 14px;
        margin-top: 60px;
    }
    .block-error{
        margin-bottom: 20px;
    }
}