.carrousel-container {
    display: flex;
    position: relative;
    height: 415px;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}
.img-carrousel {
    border-radius: 25px;
    object-fit: cover;
    width: 100%;
}
.vector-block {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 170px;
    width: 100%;
}
.vector-right {
    margin-right: 10px;
}
.vector-right:hover{
    cursor: pointer;
}
.vector-left {
    margin-left: 10px;
}
.vector-left:hover{
    cursor: pointer;
}
/* media query mobil */
@media only screen and (min-width: 320px) and (max-width: 600px){ 
    .carrousel-container{
        height: 190px;      
    }
    .img-carrousel{
        border-radius: 10px;
    }
    .vector-block{
        margin-top: 85px;
    }
    .vector-left{
        width: 11px;
        height: 19px;
    }
    .vector-right{
        width: 11px;
        height: 19px;
    }
}
/* media query tablette */
@media only screen and (min-width: 600px) and (max-width: 1024px){ 
    .vector-left{
        width: 25px;
        height: 33px;
    }
    .vector-right{
        width: 25px;
        height: 33px;
    }
}