.fiche-block-title{
    width: 100%;
}
.fiche-title{
    color : #FF6060;
    font-size: 36px;
    margin-bottom: -10px;
}
.fiche-location{
    color : #FF6060;
    font-size: 18px;
}
/* media query mobil */
@media only screen and (min-width: 320px) and (max-width: 600px){ 
    .fiche-title{
        font-size: 18px;
    }
}