:root {
    --primary-color: #FF6060;
}
:root {
    --primary-backgroung-color : #F7F7F7;
}
:root{
    --texte-color : white;
}
body{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 40px;
}