.nav-header{
    display: flex;
    margin-top: 18px;
    align-items: center;
    justify-content: space-between;

}
.navbar{
    color: #FF6060;
    font-size: 24px;
    margin-left: 100px;
}
.navbar.active {
    border-bottom: 1px solid #ff6060;
}